@import url('https://fonts.cdnfonts.com/css/studebaker-nf');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@500&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #696969;
    
}

/* NAVBAR STYLE STARTS */
.navbar-brand {
    font-family: 'Studebaker NF', sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: #D2691E;
}

.navbar-nav {
    font-family: 'Poppins', sans-serif;
}

.nav-item .nav-link {
    color: white;
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0px;
    background-color: rgb(255, 129, 57);
    width: 0px;
    height: 3px;
    transition: 0.4s ease-in-out;
}

.nav-item:hover .nav-link::after {
    width: 100%;
}

.nav-link:hover {
    color: rgb(255, 129, 57);
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}


/* NAVBAR STYLE ENDS */

/* HOME STYLE STARTS */
.home-content {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-home {
    width: 100%;
    border: 5px solid #D2691E;
    border-radius: 5px;
    box-shadow: 5px 5px #fff;
    margin-top: 150px;
}

.home-heading {
    font-family: 'Domine', serif;
}

.b-design {
    font-family: 'Studebaker NF', sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: #D2691E;
}

.social-links a{
    text-decoration: none;
    font-size: 30px;
}


/* HOME STYLE ENDS */

/* ABOUT STYLE STARTS */
.img-about {
    height: 420px;
    width: 45%;
    position: absolute;
    top: -20px;
    right: 40px;
}

.container-about {
    width: 100%;
    height: 80vh;
}

.about-us-content {
    width: 100%;
    height: 350px;
    background-color: rgb(54, 54, 54);
    margin-top: 200px;
    position: relative;
}

.content-about {
    padding: 10px 38px;
}

.heading {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgb(255, 129, 57);
    margin: 10px 0px;
    margin-bottom: 34px;
    position: relative;
}

.heading::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -8px;
    background-color: rgb(255, 129, 57);
    width: 46px;
    height: 2px;

}

.parag-about {
    font-size: 13px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.695);
    line-height: 21px;
    margin: 25px 0px;
}

.link-about {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid rgba(255, 129, 57, 0.5);
    color: rgb(255, 129, 57);
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    padding: 8px 22px;
    position: relative;
    z-index: 22;
}

.link-about:hover {
    color: white;
}

.span-about {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(255, 129, 57);
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: 0.4s ease-in;
}

.link-about:hover .span-about {
    width: 100%;
}

.fa-arrow-right {
    color: rgb(255, 129, 57);
    font-size: 11px;
    margin-left: 5px;
}

.fa-arrow-right:hover {
    color: white;
}

/* ABOUT STYLE ENDS */

/* PRODUCTS STYLE STARTS */
.btn-one {
    background-color: rgb(255, 129, 57);
    color: white;
    font-weight: 700;
    border-radius: 30px;
    text-decoration: none;
    padding: 15px;
}

.btn-one:hover {
    background-color: rgb(234, 105, 31);
    transition: 0.5s;
}

.card:hover {
    box-shadow: 12px 15px 23px 3px rgba(0,0,0,0.66);
    -webkit-box-shadow: 12px 15px 23px 3px rgba(0,0,0,0.66);
    -moz-box-shadow: 12px 15px 23px 3px rgba(0,0,0,0.66);
    transition: 0.5s;
}

.heading-products {
    margin-top: 100px;
}

/* PRODUCTS STYLE ENDS */

/* CONTACT STYLE STARTS */
.contact-section {
    margin-top: 80px;
}

.form-origin {
    width: 100%;
    height: 480px;
    background-color: rgb(42, 41, 41);
    padding: 50px 30px;
    border-radius: 8px;
    color: white;
}

.form-origin input {
    color: #777;
    font-size: 14px;
    border: 1px solid #e4e3e3;
    background-color: transparent;
    border-radius: 5px;
    outline: none;
    padding: 16px 22px;
    margin-bottom: 40px;
}

::placeholder {
    color: rgba(255, 129, 57, 0.874);
}

.form-origin textarea {
    height: 200px;
    padding: 20px;
    font-size: 14px;
    background-color: transparent;
    color: #777;
}

.btn-submit {
    display: inline-block;
    font-size: 14px;
    border-radius: 25px;
    padding: 15px 25px;
    border: none;
    outline: none;
    background-color: #f4813f;
    color: #fff;
    font-weight: 600;
    letter-spacing: .5ex;
    text-decoration: none;
    margin: 20px 0px;
    border: 2px solid rgb(255, 129, 57);
}

.content-contact {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 8px 18px;
    justify-content: center;
    flex-direction: column;
}
/* CONTACT STYLE ENDS */

/* MEDIA QUERIES */
/* for phones */
@media only screen and (min-width: 375px) and (max-width: 600px) {
    .container {
        width: 100%;
        padding-left: 23px;
        flex-direction: column-reverse;
    }

    .heading {
        width: 100%;
    }

    .img-about {
        width: 100%;
        position: relative;
        margin: 32px 0 0 40px;
    }
    
    .about-section {
        margin-top: 300px;
    }

    .about-us-content {
        height: 390px;
    }

    .products-section {
        margin-top: 220%;
    }

    .contact-section {
        margin-top: 220%;
    }
}

/* for tablets */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    .container {
        width: 100%;
        padding-left: 23px;
        flex-direction: column-reverse;
    }

    .heading {
        width: 100%;
    }

    .img-about {
        width: 100%;
        position: relative;
        margin: 32px 0 0 40px;
    }
    
    .about-section {
        margin-top: 300px;
    }

    .about-us-content {
        height: 390px;
    }

    .products-section {
        margin-top: 220%;
    }

    .contact-section {
        margin-top: 220%;
    }
}
